# IDE
.idea/
.vscode/

# Node dependencies
node_modules/
**/node_modules/

# Metro cache
frontend/.metro-cache/

# Yarn and PnP
.pnp
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Expo
.expo/
.expo-shared/

# Build outputs
dist/
build/
out/
.next/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System
.DS_Store
*.pem

# Python
__pycache__/
*.pyc

# Environments
*.env
*.env.*
.env.local

# Coverage
coverage/

# Cache
.cache/
expo-packager-cache/
metro-cache/
**/.expo/
**/.expo-shared/

# Other
.vercel
chainlit.md
.chainlit
.ipynb_checkpoints/

# Databases
agenthub/agents/youtube/db
